<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gao.tabview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".material.MaterialDialogActivity"></activity>
        <activity android:name=".material.MaterialDrawerActivity"></activity>
        <activity android:name=".tablayout.TabLayoutBottomFragmentActivity"></activity>
        <activity android:name=".tablayout.TabLayoutBottomViewPagerActivity"></activity>
        <activity android:name=".tablayout.SlidingTabActivity"></activity>
        <activity android:name=".tablayout.SegmentTabActivity"></activity>
        <activity android:name=".photoview.PhotoViewActivity"></activity>
        <activity android:name=".photoview.ViewPagerActivity"></activity>
        <activity android:name=".swipebacklayout.SwipeBackLayoutActivity"></activity>
    </application>

</manifest>
